.logo
  img(src="./images/logo.jpg", alt="logo")
.topnav
  ul.topnav-menu
    li 
      a(href="./index.html") Home
    li
      a(href="./about.html") About
    li
    a(href="./services.html") Services
    li
      a(href="./blog.html") Blog
    li
      a(href="./customers.html") Customers