<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body
    bloch nav
      include ../include/nav
    block main
      main
        p This is the main part of each pages.
      block footer
        include ../include/footer 
