<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body
    header
      h1 
        | This text 
        |  is inside 
        |  h1 tag
    main
      h2.
        This text
        is inside 
        h2 tag.
      div.div1-class
      div#div2-id
      .div3-class
      #div4-id
      #div5-id.class1.class2.class3 This is a simple DIV
      a(href="https://www.google.com") Google
      img(src=".images/", alt="just for test")
    footer.
      This is footer.