<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body
    h1 My first PUG file!
    nav#menubar-container
      ul.menubar
        li Home
        li Services
        li About
        li Contact
        li Blog
        li Customers
    main 
      h2 This is main of page.
      b To automate create html file from PUG use this command in terminal:
      br
      em pug -w . -o ./ -P