body {
  background-color: #5b7fbd;
  font-size: x-large;
  font-family: 'Gill Sans', sans-serif;
  margin: 5%;
}
ul {
  margin: 0 25%;
  display: inline-table;
  text-align: center;
}
/* li {
  display: inline-block;
} */
footer {
  font-size: small;
}
a:hover {
  color: #cc0e74;
}
.copyright {
  font-size: medium;
  font-style: italic;
}
