body {
  background-color: #5b7fbd;
  font-size: x-large;
  font-family: 'Gill Sans', sans-serif;
  margin: 5%;
}
ul {
  margin: 0 25%;
  display: inline-table;
  text-align: center;
  list-style-position: inside;
  /* list-style-type: none; */
}
/* make increment number to elements */
/* li {
  counter-increment: mynum;
}
li::before {
  content: counter(mynum);
} */
/* li {
  padding-left: 16px;
}
li::before {
  content: '•'; 
  padding-right: 8px;
  color: blue; 
} */
footer {
  font-size: small;
}
a:hover {
  color: #cc0e74;
}
.copyright {
  font-size: medium;
  font-style: italic;
}
